
<footer>
    <div class="f-info h-25 p-3 d-flex flex-column justify-content-center align-items-center border-top">
        <div class="f-info-social mb-2">
            <a href="https://www.facebook.com/AirbnbIndia" target="_blank" style="color: black;"> 
                <i class="fa-brands fa-facebook mx-2"></i>
            </a>

           <a href="https://www.instagram.com/airbnb" target="_blank"  style="color: black;">
        <i class="fa-brands fa-instagram mx-2"></i>
           </a>

         <a href="https://x.com/airbnb_in" target="_blank"  style="color: black;">
      <i class="fa-brands fa-x-twitter mx-2 "></i>
         </a>
    
        </div>
        <div class="mb-2">© Wanderlust Private Company Limited</div>
        <div class="f-info-links ">
            <a href="https://www.airbnb.co.in/help/article/2855" target="_blank" >Privacy</a>
            <a href="https://www.airbnb.co.in/help/article/2908" target="_blank" >Terms</a>
        </div>
    </div>
</footer>