<%- layout("layouts/boilerplate")%>
<body>
    <div class="row col-lg-4 offse-3 mx-auto ">
        <h2>Signup for Wanderlust</h2>
        <div class="card shadow">
         <form method="POST" action="/signup" class="mb-4 needs-validation" novalidate>
  <div class="mb-3 mt-4">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" name="username" required>
    <div class="valid-feedback">Looks good!</div>
    <div class="invalid-feedback">Please enter a username.</div>
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" name="email" required>
    <div class="valid-feedback">Valid email!</div>
    <div class="invalid-feedback">Please enter a valid email address.</div>
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" required minlength="4">
    <div class="valid-feedback">Password looks good.</div>
    <div class="invalid-feedback">Password must be at least 4 characters.</div>
  </div>

  <div class="d-grid">
    <button type="submit" class="btn btn-success" style="width: fit-content;">Create Account</button>
  </div>
</form>
            <p>If you already account <a href="/login">Login</a></p> 
        </div>
    </div>
</body>
